:root {
  --boxshadow: none;
}

/* global */
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
  background: #f2f5f8;
}

::-webkit-scrollbar-track {
  padding: 0 4px;
  border-radius: 0;
  background: #f2f5f8;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: #666;
}

::selection {
  background: #444444;
  color: #ffffff;
}

::-moz-selection {
  background: #444444;
  color: #ffffff;
}

::-webkit-selection {
  background: #444444;
  color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:visited,
a:link,
a:active,
a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  max-width: 100%;
  margin: 1em 0;
}

table th,
table td {
  border: 1px solid #d0d0d0;
  padding: 5px 12px;
}

hr {
  height: 0;
  background: none;
  border: none;
  border-bottom: 1px solid #dcdcdc;
}

html {
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
  font-family: "OPPOSans";
  font-display: swap;
  src: url(../fonts/OPPOSans.subset.ttf);
}
.opacity {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9;
}

body {
  font-family: "OPPOSans";
  -webkit-font-smoothing: antialiased;
  position: relative;
  border-radius: 10px;
  background: #f3f3f3;
  font-size: 17px;
  padding-bottom: 20px;
}

article {
  box-sizing: border-box;
  min-height: 80vh;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 750px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
}

a {
  color: #2d8cdc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.utool {
  position: sticky;
  margin-left: 104%;
  margin-top: -30px;
  bottom: 30px;
  font-weight: 600;
  z-index: 9;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.utool .item {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s linear;
  background: #fff;
}
.utool .item span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}
.utool .item span:hover {
  opacity: 0.8;
}
.utool .item.totop {
  opacity: 0;
  z-index: -1;
}
.utool .item.totop.is-active {
  opacity: 1;
}

.pre-next {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.pre-next p {
  width: 50%;
  padding: 5px 0;
  border-radius: 4px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}
.pre-next p:last-child {
  justify-content: flex-end;
}
.pre-next p:hover {
  background: rgba(0, 0, 0, 0.03);
}
.pre-next p a {
  text-decoration: none;
  color: #333;
  padding: 4px 10px;
}

.post-content {
  margin-top: 1em;
}

.markdown-body {
  font-size: 17px;
  max-width: 100%;
}
.markdown-body h1 {
  font-size: 24px;
}
.markdown-body h2 {
  font-size: 22px;
}
.markdown-body h3 {
  font-size: 20px;
}
.markdown-body h2,
.markdown-body h3 {
  padding: 10px 0;
  color: #333333;
}
.markdown-body blockquote {
  margin: 0;
  padding: 0 1em;
  color: #57606a;
  border-left: 0.25em solid #d0d7de;
}
.markdown-body pre {
  padding: 16px;
  overflow: auto;
  max-width: 100%;
}
.markdown-body code {
  padding: 0.2em 0.4em;
  font-size: 85%;
  background-color: #d1d1d1;
  border-radius: 6px;
}
.markdown-body ul,
.markdown-body ol {
  padding: 0;
  padding-left: 30px;
  line-height: 1.8;
  margin-bottom: 10px;
}
.markdown-body .highlight {
  margin-bottom: 15px;
}

/* reset code */
.markdown-body pre > code {
  padding: 0;
  background-color: inherit;
  border: 0;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 15px;
  padding-bottom: 10px;
}

/* header */
.menu-btn {
  display: none;
  top: 30px;
  border: 1px solid #a9a9a9;
  border-radius: 6px;
  padding: 4px 16px;
  cursor: pointer;
  color: #6e6e6e;
  z-index: 9;
}

header {
  width: 100%;
  box-shadow: var(--boxshadow);
  padding: 6px 20px;
  z-index: 99;
}
header .container {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: -1;
}

.autoMenu {
  margin-left: 105%;
  height: 0;
  position: sticky;
  top: 60px;
}
.autoMenu ul {
  background: #fff;
  box-shadow: var(--boxshadow);
  border-radius: 10px;
  padding-left: 20px;
  overflow: hidden;
}
.autoMenu li {
  padding: 2px 0;
  list-style: none;
  white-space: nowrap;
}
.autoMenu li:nth-child(1) {
  padding-top: 10px;
}
.autoMenu li:last-child {
  padding-bottom: 10px;
}

.site-date-catalog {
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 5px;
}

.header-title {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: 500;
  padding: 0 5px;
  height: 100%;
  border: 2px solid #333;
  box-shadow: 0.2rem 0.2rem 0 0 #1e293b;
  transition: all 0.1s linear;
  margin-left: 10px;
}
.header-title:hover {
  text-decoration: none;
  box-shadow: 1px 2px 10px #1e293b;
}
.header-title img {
  height: 30px;
  margin-right: 5px;
  border-radius: 4px;
}

.header-subtitle {
  color: #666;
  margin-top: 10px;
  font-size: 16px;
}

.header-item {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-item #navi {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  font-size: 17px;
}
.header-item #navi li a {
  display: block;
  padding: 6px 10px;
  margin-left: 4px;
  text-decoration: none;
  transition: all 0.1s linear;
  border-radius: 4px;
  color: #666;
}
.header-item #navi li a:hover {
  background: #eceef2;
}
.header-item #navi li a.active {
  background: #eceef2;
}

.search {
  padding-top: 20px;
}
.search input {
  display: block;
  outline: none;
  width: 100%;
  border: 1px solid #cbcbcb;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.1s linear;
}
.search input:focus {
  box-shadow: 0px 0px 5px #6d727b;
}

/* posts list */
.iframe {
  position: relative;
  height: 0;
  padding-bottom: 60%;
}

.iframe iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  box-shadow: var(--boxshadow);
  background: #fff;
  border-radius: 5px;
  padding: 10px 5px;
  margin-bottom: 30px;
}

.pagination a {
  background: #fff;
  padding: 4px 10px;
  border-radius: 4px;
  transition: all 0.1s linear;
  text-decoration: none;
  color: #767676;
}

.posts-categories {
  font-size: 0.8rem;
  margin: auto;
  text-align: center;
}

.posts-category {
  padding: 3px 0;
  border: #000 2px solid;
  border-radius: 5px;
}

.posts-category a {
  display: inline-block;
  width: 100%;
}

.footer {
  padding-top: 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.footer i {
  padding: 0 10px;
}

.footer,
.footer a {
  color: #aaa;
}

/* post */
.post-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #d7d7d7;
}

.post-box {
  margin-bottom: 25px;
  padding: 25px 10px;
  background: #fff;
  box-shadow: var(--boxshadow);
  border-radius: 0;
}

.posts-line {
  padding: 25px 10px;
  background: #fff;
  box-shadow: var(--boxshadow);
  border-radius: 0;
  background: #fff;
  margin-bottom: 10px;
}
.posts-line .posts-title {
  display: block;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 22px;
}
.posts-line .posts-title:hover {
  color: #333;
}
.posts-line .posts-content > a {
  padding-top: 10px;
  display: block !important;
}
.posts-line .posts-content * {
  padding: 0;
  margin: 0;
  color: inherit !important;
  font-size: 16px;
  font-weight: 400;
  display: inline !important;
  border: none;
  background: none;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  color: #000 !important;
  line-height: 1.6;
  background: none !important;
}
.posts-line .posts-content *::before, .posts-line .posts-content *::after {
  display: none;
}
.posts-line .posts-content br,
.posts-line .posts-content img,
.posts-line .posts-content video,
.posts-line .posts-content iframe {
  display: none !important;
}

.posts-date {
  display: block;
  margin-bottom: 6px;
  font-size: 1rem;
  color: #858b93;
  background: none;
}
.posts-date a {
  display: inline-block;
  color: inherit;
  margin-left: 10px;
}

.post-title {
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 10px;
}

.post-tags {
  display: inline;
  font-weight: 600;
  margin-right: 6px;
  border: #000 2px solid;
  border-radius: 5px;
}

.post-tags a {
  padding: 2px 5px;
  color: #333;
}

.post-date {
  color: #666;
  white-space: nowrap;
}
.post-date time {
  background: none;
  margin-right: 10px;
}
.post-date span {
  margin-right: 10px;
}

.post-desc {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 5px;
}

.post-content p {
  line-height: 1.8;
  margin: 0 0 1em;
}

.posts-list {
  margin-bottom: 20px;
  font-size: 18px;
}
.posts-list .posts-title {
  color: #333;
}
.posts-list .posts-date {
  margin-bottom: 0;
}

.related-content {
  border: 2px solid #999;
  padding: 10px;
  margin-top: 50px;
  border-radius: 4px;
}
.related-content h4 {
  font-size: 1.3rem;
  margin-bottom: 14px;
}
.related-content ul li {
  margin: 5px 0;
  list-style: none;
}
.related-content ul li a {
  color: #333;
}

.cate {
  margin-bottom: 15px;
}
.cate a {
  display: inline-block;
  margin-right: 20px;
  padding: 4px 10px;
  font-size: 18px;
}

@media (max-width: 1360px) {
  .autoMenu {
    position: static;
    margin: 0;
    height: auto;
  }
  .autoMenu ul {
    box-shadow: none;
    padding: 0;
  }
  .autoMenu ul li {
    padding: 0;
  }
}
@media (max-width: 900px) {
  article {
    width: 100%;
    padding: 0;
  }

  .menu-btn {
    display: block;
  }

  header {
    padding: 4px 15px;
    background: #fff;
    position: sticky;
    top: 0;
  }
  header .header-item {
    display: block;
  }
  header .sticky {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 60%;
    height: 100vh;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2) !important;
    transform: translateX(-100%);
    transition: all 0.1s linear;
  }
  header .sticky:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    background: #393d49;
    backdrop-filter: blur(10px);
    z-index: -1;
  }
  header .sticky #navi {
    flex-direction: column;
    width: 100%;
    padding-top: 30px;
  }
  header .sticky #navi li {
    padding: 6px 10px;
  }
  header .sticky #navi li a {
    color: #fff;
  }
  header .sticky #navi li a:hover {
    background: none;
  }
  header .sticky #navi li a.active {
    background: #525e70;
  }

  .header-title,
.header-subtitle,
.header-items {
    text-align: center;
  }

  .header-title {
    margin-left: 0;
  }

  .header-items {
    margin-bottom: 20px;
  }

  header .container {
    padding: 10px 0;
  }

  .search {
    padding: 20px 15px 0;
  }

  .post-box {
    padding: 20px 15px;
  }

  .posts-line {
    padding: 20px 15px;
  }

  .header-line {
    display: none;
  }

  .markdown-body {
    font-size: 16px;
  }

  .post-content p {
    font-size: 18px;
  }

  .footer {
    padding: 0 15px;
    display: block;
    text-align: center;
  }
  .footer i {
    display: none;
  }

  .pre-next p {
    width: 100%;
  }

  .utool {
    margin-left: 85%;
  }
}
@media screen and (max-width: 48em) {
  .posts-category {
    display: none;
  }
}
.article-h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

.artalk .atk-main-editor {
  border: none;
  border-radius: 0;
  overflow: inherit;
}
.artalk .atk-main-editor .atk-header {
  border-bottom: none;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}
.artalk .atk-main-editor .atk-header input {
  display: block;
  flex: none;
  width: 32.5%;
  border: 1px solid #d8d8d8;
  transition: all 0.1s linear;
  margin-bottom: 10px;
  padding: 8px 5px;
}
.artalk .atk-main-editor .atk-header input:focus {
  box-shadow: 0px 0px 5px #6d727b;
}
.artalk .atk-main-editor .atk-textarea-wrap > .atk-textarea {
  border: 1px solid #d8d8d8;
  padding: 10px;
  transition: all 0.1s linear;
  margin: 0;
}
.artalk .atk-main-editor .atk-textarea-wrap > .atk-textarea:focus {
  box-shadow: 0px 0px 5px #6d727b;
}
.artalk .atk-main-editor .atk-bottom .atk-plug-btn:nth-child(2) {
  display: none;
}
.artalk .atk-main-editor .atk-bottom .atk-send-btn {
  height: 35px;
}
.artalk .atk-main-editor .atk-editor-plug-emoticons > .atk-grp-switcher {
  border-bottom: none;
}
.artalk .atk-main-editor .atk-plug-panel-wrap {
  border: 1px solid #d8d8d8;
}
.artalk .atk-list .atk-copyright {
  display: none !important;
}

.atk-sidebar-layer {
  width: 700px !important;
}

.atk-comment > .atk-main > .atk-body > .atk-content {
  font-size: 16px;
  line-height: 1.6;
}

@media (max-width: 700px) {
  .atk-sidebar-layer {
    width: 100% !important;
  }

  .artalk .atk-main-editor .atk-header input {
    width: 100%;
    max-width: 100%;
  }
}